@font-face {
  font-family: "Cubic-11";
  src: url("/font/Cubic_11_1.100_R.woff") format("woff");
}
html, body {
  background-color: black;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
  color: #29D823;
  font-family: "Cubic-11";
}

.all {
  flex: 500px;
  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.letter {
  position: relative;
  flex: 9em;
  flex-grow: 0;
  width: 40%;
  transition: 0.5s;
  margin-top: 12em;
}
.letter img {
  width: 100%;
  height: 80%;
  position: absolute;
}
.letter.active #up {
  -webkit-animation: openR 1.5s;
          animation: openR 1.5s;
  transform: rotateX(180deg);
}

.messageBox {
  height: 2em;
  visibility: hidden;
  display: flex;
  height: 6em;
  flex-grow: 0;
  width: 80%;
  border: 5px solid #29D823;
  margin-bottom: 8em;
  overflow: hidden;
}
.person {
  display: flex;
  align-items: center;
  flex: 5em;
  flex-shrink: 0;
}
.messageBox .person img {
  display: block;
  width: 100%;
}
.messageBox .textBox {
  height: 80%;
  margin-right: 30px;
  flex: 4;
  padding: 0.8em 0;
}
.messageBox .textBox h2, .messageBox .textBox h4 {
  margin: 0.1em 0;
}

@-webkit-keyframes openR {
  0% {
    transform: rotateX(0deg);
  }
  50%, 100% {
    transform: rotateX(180deg);
  }
}

@keyframes openR {
  0% {
    transform: rotateX(0deg);
  }
  50%, 100% {
    transform: rotateX(180deg);
  }
}